<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Beijing</servlet-name>
        <servlet-class>BeijingTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Age</servlet-name>
        <servlet-class>AgeTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Beijing</servlet-name>
        <url-pattern>/beijing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Age</servlet-name>
        <url-pattern>/age</url-pattern>
    </servlet-mapping>
</web-app>
